.container {
   width: 90%;
   margin: 0 auto;

   @include respond(tab-port) {
      max-width: 768px;
   }

   @include respond(tab-land) {
      max-width: 992px;
   }

   @include respond(desktop) {
      max-width: 1120px;
   }

   @include respond(big-desktop) {
      max-width: 1368px;
   }
}
