.header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 15px;

   &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
   }

   &__title {
      font-size: 36px;
      margin: 5px 10px 0;

      @include respond(tab-port) {
         font-size: 42px;
      }
   }

   p {
      text-align: center;

      &:first-of-type {
         font-size: 100%;
         margin-bottom: 5px;
      }

      &:last-of-type {
         opacity: 0.8;
      }
   }
}
