.weather-check-form {
   width: 100%;
   display: flex;
   margin-bottom: 15px;

   &__input {
      border: 1px solid #fff;
      padding: 5px 15px;
      font-size: 14px;
      background-color: rgba(255, 255, 255, 0.3);
      margin-right: 15px;
      width: 100%;
      box-sizing: border-box;

      &::placeholder {
         /* Chrome, Firefox, Opera, Safari 10.1+ */
         color: rgba(255, 255, 255, 0.75);
         opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
         /* Internet Explorer 10-11 */
         color: rgba(255, 255, 255, 0.75);
      }

      &::-ms-input-placeholder {
         /* Microsoft Edge */
         color: rgba(255, 255, 255, 0.75);
      }
   }

   &__btn {
      border: none;
      padding: 12px 20px 10px;
      font-size: 16px;
      font-weight: 700;
      color: #000;
      opacity: 1;
      text-transform: uppercase;
      background: rgba($color: #fff, $alpha: 0.75);
      mix-blend-mode: lighten;
      transition: background 0.2s ease-in-out;

      &:hover {
         cursor: pointer;
         background: rgba($color: #fff, $alpha: 1);
      }
   }
}
