.weather-panel {
   position: relative;
   width: 100%;
   display: flex;
   background-color: rgba(255, 255, 255, 0.3);

   &__temperature {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background 0.2s ease-in-out;

      &:hover {
         cursor: pointer;
         background-color: rgba(255, 255, 255, 0.15);
      }

      & > p {
         font-size: 34px;
         color: #000;
         font-weight: 700;
         margin-bottom: 0;
         mix-blend-mode: overlay;

         @include respond(tab-port) {
            font-size: 40px;
         }
      }
   }

   &__data {
      padding: 15px 10px 15px 15px;
      width: 60%;
   }

   &__data-item {
      & > p {
         text-align: left;
         font-weight: 300;
         margin-bottom: 3px;
      }

      span {
         font-weight: 700;
         margin-right: 5px;
      }

      &:last-child {
         & > p {
            margin-bottom: 0;
         }
      }
   }

   &__more {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: transparent;
      border: none;
      padding: 9px 12px 7px;
      transition: background 0.15s ease-in-out;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      outline: none;

      &:hover {
         cursor: pointer;
         background-color: rgba(255, 255, 255, 0.15);
         color: #000;
         mix-blend-mode: overlay;
      }
   }
}
